<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>

<p th:utext="${'Surname: ' + user.getLastName()}">Surname</p>
<p th:utext="${'Name: ' + user.getFirstName()}">Name</p>
<p th:utext="${'Age: ' + user.getAge()}">Age</p>
<p th:utext="${'Id: ' + user.getId()}">Id</p>

<br/>
<hr/>

<a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete!">
</form>

<br/>
<hr/>

<a th:href="@{/admin}"><| Back</a>

<br>
<hr>

<a th:href="@{/logout}">Logout</a>
</body>
</html>